.hm-news-detail {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  width: 375px;
  height: 614px;
}

.hd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 26px;
  width: 374px;
}

.yunshu {
  width: 38px;
  height: 38px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.09));
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
  height: 38px;
}

.outer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1px;
  width: 255px;
  height: 23px;
}

.author {
  max-width: 184px;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
  white-space: nowrap;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 6px;
  height: 17px;
}

.like {
  opacity: 0.5;
  width: 19px;
  height: 17px;
}

.share {
  opacity: 0.5;
  margin-left: 26px;
  width: 15px;
  height: 15px;
}

.time {
  opacity: 0.6;
  max-width: 280px;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 14px;
  white-space: pre;
  color: #000000;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: normal;
}

.title {
  margin-top: 18px;
  margin-left: 34px;
  width: 256px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  white-space: pre-wrap;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
  width: 374px;
}

.entryPicWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 343px;
  height: 184px;
}

.img {
  position: relative;
  width: 343px;
  height: 184px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
}

.ft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  width: 374px;
}

.content {
  width: 335px;
  height: 248px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 31px;
  letter-spacing: 0px;
  white-space: pre-wrap;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}
